.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #eef3ff;
  border-bottom: 1px solid #cfd8ff;

  &__brand a {
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    color: #2244ff;
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 1.2rem;

    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: .4rem;

      .badge {
        padding: 0.2rem 0.5rem;
        background: #415aff;
        color: white;
        border-radius: 10px;
        font-size: .8rem;
      }
    }
  }
}
