<h2>{{ editing() ? 'Editar Produto' : 'Criar Produto' }}</h2>

<form [formGroup]="form" (ngSubmit)="save()" class="form">

  <div class="field">
    <label>Código de Barras</label>
    <input type="text" formControlName="codigoBarras">
  </div>

  <div class="field">
    <label>Nome *</label>
    <input type="text" formControlName="nome">
    <small *ngIf="form.get('nome')?.touched && form.get('nome')?.invalid">Campo obrigatório</small>
  </div>

<div class="field">
  <label>Preço *</label>
  <input
    type="number"
    step="0.01"
    formControlName="preco"
    min="0"
  >

  <small *ngIf="form.get('preco')?.touched && form.get('preco')?.errors?.['min']">
    O preço não pode ser negativo.
  </small>

  <small *ngIf="form.get('preco')?.touched && form.get('preco')?.errors?.['required']">
    Campo obrigatório.
  </small>
</div>

<div class="field">
  <label>Quantidade em Estoque *</label>
  <input type="number" formControlName="quantidadeEstoque" min="0">

  <small *ngIf="form.get('quantidadeEstoque')?.touched && form.get('quantidadeEstoque')?.errors?.['min']">
    O estoque não pode ser negativo.
  </small>

  <small *ngIf="form.get('quantidadeEstoque')?.touched && form.get('quantidadeEstoque')?.errors?.['required']">
    Campo obrigatório.
  </small>
</div>


  <div class="field">
    <label>ID da Categoria (opcional)</label>
    <input type="number" formGroupName="categoria" formControlName="id">
  </div>

  <button type="submit" class="save" [disabled]="loading()">
    {{ loading() ? 'Salvando...' : (editing() ? 'Atualizar' : 'Criar') }}
  </button>

</form>
