.container {
  padding: 1.5rem;
  background: #f8f9ff;
  border-radius: 10px;
  border: 1px solid #dce1ff;
  max-width: 500px;

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .desc {
    opacity: .8;
    margin-bottom: 1rem;
  }

  strong {
    font-size: 1.1rem;
  }

  .buttons {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;

    button {
      padding: .6rem 1rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 500;
      color: #fff;

      &:hover {
        opacity: .85;
      }
    }

    .edit {
      background: #4a63ff;
    }

    .add {
      background: #4caf50;
    }
  }
}
