.container {
  padding: 1rem;
  background: #f8f9ff;
  border-radius: 8px;
  border: 1px solid #dce1ff;

  button {
    margin-top: 1rem;
    padding: .6rem 1rem;
    border: none;
    background: #415aff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }
}
