.actions {
  margin-bottom: 1rem;

  button {
    padding: .6rem 1rem;
    background: #4a63ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      opacity: .85;
    }
  }
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.card {
  background: #f8f9ff;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #dce1ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    margin: 0 0 0.3rem 0;
    font-size: 1.1rem;
  }

  p {
    opacity: .8;
    margin-bottom: 0.5rem;
  }

  strong {
    margin-bottom: .8rem;
    display: inline-block;
    color: #333;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    button {
      padding: .5rem;
      border-radius: 6px;
      cursor: pointer;
      border: none;
      font-weight: 500;
    }

    .details {
      background: #8093ff;
      color: #fff;

      &:hover {
        opacity: .9;
      }
    }

    .add {
      background: #4caf50;
      color: #fff;

      &:hover {
        opacity: .9;
      }
    }
  }
}
