<h2>Carrinho</h2>

<div *ngIf="items().length === 0">
  Seu carrinho está vazio.
</div>

<div class="item" *ngFor="let item of items()">
  <div class="info">
    <h3>{{ item.product.nome }}</h3>
    <p>Código: {{ item.product.codigoBarras || '---' }}</p>
    <p>Estoque disponível: {{ item.product.quantidadeEstoque }}</p>
  </div>

  <div class="actions">
    <input
      type="number"
      [value]="item.quantity"
      (input)="updateQty(item, $event)"
      min="1"
    >

    <button (click)="removeItem(item)">Remover</button>
  </div>

  <strong>
    Subtotal:
    R$
    {{ (item.product.preco * item.quantity) | number:'1.2-2' }}
  </strong>
</div>

<div class="total" *ngIf="items().length > 0">
  Total: R$ {{ total() | number:'1.2-2' }}
</div>

<button class="clear" *ngIf="items().length > 0" (click)="clear()">
  Limpar Carrinho
</button>
